@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');
body{
    font-family: 'Nunito', sans-serif;
}
.navitems{
    display: inline;
    border-bottom: 2px solid black;
    margin: 25px;
    padding: 4px;
}
.navli{
    text-transform: uppercase;
    list-style: none;
    /* display: inline; */
    /* border: 1px solid black; */
    /* margin: 150px; */
    margin: 0px;

}
.navbar{
    text-align: center;
    background-color: rgb(222, 222, 222);
    padding: 15px;
    /* border: 1px solid black; */
}
.headings{
    border-bottom: 2px solid black;
    
}
.container{
    width: 1400px;
    /* border: 2px solid black; */
    margin: 15px auto;
}